body,
a {
  font-family: "__GeistSans_3a0388", "__GeistSans_Fallback_3a0388", sans-serif;
}

/* Common */
.placeholder-center::placeholder {
  text-align: center;
}

.border-grey {
  border-color: rgb(180 180 180);
}
.cusor-pointer {
  cursor: pointer;
}

:root {
  --folder-border-color: #7b7b7b;
}
